.card {
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /*stacks children vertically*/
    background-image: linear-gradient(to bottom right, #403D8E, #9F94D5);
    border-radius: 30px;
    margin: 40px auto;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 8vw;
    font-family: "Macondo Swash Caps", cursive;
    color: #EBCB85;
    text-shadow: 0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9,
        0 0 4px #ece1c9;
}


.content {
    display: flex;
    justify-content: center;
    font-size: 6vw;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: #CCCBD8;
}