.card {
    width: 474px;
    height: 502px;
    display: flex;
    flex-direction: column;
    /*stacks children vertically*/
    background-color: #3C3A5C;
    border-radius: 20px;
    margin: auto auto;
    padding: 20px;
    border: 2px solid #9A5CFF;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-family: "Pixelify Sans", sans-serif;
    color: #EBCB85;
    text-shadow: 0 0 20px #EBCB85
}


.content {
    display: flex;
    justify-content: center;
    font-size: 6vw;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: #CCCBD8;
}