.card {
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /*stacks children vertically*/
    background-image: linear-gradient(to bottom right, #403D8E, #9F94D5);
    border-radius: 30px;
    margin: 40px auto;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 8vw;
}

.content {
    display: flex;
    justify-content: center;
    font-size: 6vw;
}