.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    height: 100%;
    background-color: #3C3A5C;
    border-radius: 20px;
    padding: 24px;
    border: 2px solid #9A5CFF;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Pixelify Sans", sans-serif;
    color: #EBCB85;
    text-shadow: 0 0 20px #EBCB85
}


.content {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: #CCCBD8;
}