.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start;
  border: none;

  gap: 15px;
  padding: 20px;
}

.title {
  margin: 0 auto;
  font-size: 35px;
}

.subtext {
  display: flex;
  align-items: start;
  margin-top: 15px;
  color: #cccbd8;
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  font-family: "JetBrainsMono", monospace;
}

.input {
  margin-top: 10px;
  color: #cccbd8;
  width: 70vh;
  height: 7vh;
  padding: 10px 12px;
  border: 2px solid #9a5cff;
  border-radius: 20px;
  font-size: 19px;
  font-family: "JetBrainsMono", monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::placeholder {
  color: #cccbd8b7;
  font-family: "JetBrainsMono", monospace;
  text-align: left;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  font-size: 17px;
}

.quest-modal .tag {
  font-family: "JetBrainsMono", monospace;
  padding: 7px 14px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 17px;
  color: #cccbd8;
  border: 2px solid #9a5cff;
  cursor: pointer;
  transition: 0.2s ease;
  background: #413c59;
}

.quest-modal .tag:hover {
  border-color: #9a5cff;
  box-shadow: 0 0 6px #9a5cff;
}

.quest-modal .tag.selected {
  background: #9a5cff;
  color: #fff;
  box-shadow: 0 0 12px #9a5cff;
}

.btn-container {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 120px;
  padding: 8px 4px;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 20px;
  border: none;
}

.submit:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom right, #f5d68a, #b8964e);
  box-shadow: 0 0 15px #ebcb85, 0 0 30px #ebcb85 inset;
  color: #fff4d0;
  text-shadow: 0 0 8px #ebcb85, 0 0 12px #ebcb85;
  border: none;
}

.cancel {
  border: 2px solid #8c73ff;
  background-color: transparent;
  color: #cccbd8;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 18px;
}

.cancel:hover {
  transform: scale(1.05);
  background-color: #cccbd8;
  border: #cccbd8;
  color: #6b4eff;
  box-shadow: 0 0 10px #cccbd8;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease;
  opacity: 1;
}

.quest-modal {
  position: relative;
  z-index: 1001;
  width: 650px;
  max-width: 90%;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  display: flex;
  justify-content: left;
  padding: 30px;
  gap: 15px;
  align-items: flex-start;
}
