.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-quest-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.quest-btn {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 160px;
  font-weight: 700;
  font-size: 22px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 88%;
  justify-content: flex-start;
  align-items: stretch;
}

.task-item {
  background-color: #413c59;
  border: 1px solid #9a5cff;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "JetBrainsMono", monospace;
  font-size: 22px;
  width: 100%;
  color: #cccbd8;
}

.tag {
  background: #9a5cff;
  color: #cccbd8;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 6px;
}

.btn-remove {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 160px;
  font-weight: 700;
  font-size: 20px;
  color: #403d8e;
  background-image: linear-gradient(to bottom right, #EBCB85, #EBE7DF);
}

.btn-complete {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 160px;
  font-weight: 700;
  font-size: 20px;
  color: #403d8e;
  background-image: linear-gradient(to bottom right, #EBCB85, #EBE7DF);
}

.buttonsquest {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}