#ranking {
    padding: 16px;
}

.ranking {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #413c59;
    border: 1px solid #9a5cff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "JetBrainsMono", monospace;
    font-size: 22px;
    width: 90%;
    color: #cccbd8;

}

.rank {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.ranknum {
    font-weight: bold;
    width: 70px;
    text-align: center;
    color: #EBCB85;
    font-family: "Pixelify Sans", sans-serif;
}