.subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color: #a875fb;
    font-size: 25px;
    font-weight: 700;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 40vh;
    height: 8vh;
    background: #3C3A5C;
    border: 2px solid #9A5CFF;
    border-radius: 30px;
}

.input input {
    height: 8vh;
    width: 60vh;
    background: transparent;
    border: none;
    outline: none;
    color: #d41818;
    font-size: 19px;
}